@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}